<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Merchandise & Apparel</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Content of the "merch" page -->
  <ion-grid>
    <ion-row>
      <!-- First shirt -->
      <ion-col size="6">
        <ion-img src="assets/Merchandise/sls tshirt.jpg"></ion-img>
        <div class="caption">Rocket Monkey Design Standard T-Shirt</div>
        <ion-row> <!-- Create a new row for the price label -->
          <ion-col>
            <div class="price-container">
        <ion-label class="price-label">$15.99</ion-label>
      </div>
        </ion-col>
        </ion-row>
        <ion-row> <!-- Create a new row for the price label -->
          <ion-col>
        <div class="buy-button-container">
        
        <a class="buy-button" href="https://www.amazon.com/Rocket-Monkey-Design-T-Shirt/dp/B0BLHTQ3PT/ref=sr_1_1?linkCode=sl2&linkId=b69da2084813190fab9bb2260ba9a2d3&qid=1690764436&refinements=p_4%3ARocket+Monkey&s=apparel&sr=1-1" target="_blank">Buy</a>
      </div>
    </ion-col>
  </ion-row>
      </ion-col>

      <!-- Second shirt -->
      <ion-col size="6">
        <ion-img src="assets//Merchandise/sls tshirt p.jpg" style="height: 173.094px; width: 170.5px;"></ion-img>
        <div class="caption">Rocket Monkey Design Premium T-Shirt</div>
        <ion-row> <!-- Create a new row for the price label -->
          <ion-col>
            <div class="price-container">
        <ion-label class="price-label">$17.99</ion-label>
      </div>
        </ion-col>
        </ion-row>
        <ion-row> <!-- Create a new row for the price label -->
          <ion-col>
        <div class="buy-button-container">
        <a class="buy-button" href="https://www.amazon.com/Rocket-Monkey-Design-Premium-T-Shirt/dp/B0BN7C48D6/ref=sr_1_2?linkCode=sl2&linkId=b69da2084813190fab9bb2260ba9a2d3&qid=1690585231&refinements=p_4%3ARocket+Monkey&s=apparel&sr=1-2" target="_blank">Buy</a>
      </div>
      </ion-col>
      </ion-row>
      </ion-col>
    </ion-row>

    <ion-row>
      <!-- Third shirt -->
      <ion-col size="6">
        <ion-img src="assets/Merchandise/sls L tshirt.jpg"></ion-img>
        <div class="caption">Rocket Monkey Design Long Sleeve T-Shirt</div>
        <ion-row> <!-- Create a new row for the price label -->
          <ion-col>
            <div class="price-container">
        <ion-label class="price-label">$19.99</ion-label>
        </div>
        </ion-col>
        </ion-row>
        <ion-row> <!-- Create a new row for the price label -->
          <ion-col>
        <div class="buy-button-container">
        <a class="buy-button" href="https://www.amazon.com/Rocket-Monkey-Design-Sleeve-T-Shirt/dp/B0BLHTY5NM/ref=sr_1_3?linkCode=sl2&linkId=b69da2084813190fab9bb2260ba9a2d3&qid=1690585231&refinements=p_4%3ARocket+Monkey&s=apparel&sr=1-3" target="_blank">Buy</a>
      </div>
      </ion-col>
      </ion-row>
      </ion-col>

      <!-- Fourth shirt -->
      <ion-col size="6">
        <ion-img src="assets/Merchandise/sls sweatshirt.jpg" style="height: 178.062px;"></ion-img>
        <div class="caption">Rocket Monkey Design Sweatshirt</div>
        <ion-row> <!-- Create a new row for the price label -->
          <ion-col>
            <div class="price-container">
        <ion-label class="price-label">$28.99</ion-label>
          </div>
        </ion-col>
        </ion-row>
        <ion-row> <!-- Create a new row for the price label -->
          <ion-col>
        <div class="buy-button-container">
        <a class="buy-button" href="https://www.amazon.com/Rocket-Monkey-Design-Sweatshirt/dp/B0BLHQGX6T/ref=sr_1_4?linkCode=sl2&linkId=b69da2084813190fab9bb2260ba9a2d3&qid=1690585231&refinements=p_4%3ARocket+Monkey&s=apparel&sr=1-4" target="_blank">Buy</a>
     </div>
     </ion-col>
     </ion-row>
      </ion-col>
    </ion-row>

    <ion-row>
      <!-- Fifth shirt -->
      <ion-col size="6">
        <ion-img src="assets//Merchandise/sls hoodie.jpg"></ion-img>
        <div class="caption">Rocket Monkey Design Pullover Hoodie</div>
        <ion-row> <!-- Create a new row for the price label -->
          <ion-col>
            <div class="price-container">
        <ion-label class="price-label">$28.99</ion-label>
      </div>
        </ion-col>
        </ion-row>
        <ion-row> <!-- Create a new row for the price label -->
          <ion-col>
        <div class="buy-button-container">
        <a class="buy-button" href="https://www.amazon.com/Rocket-Monkey-Design-Pullover-Hoodie/dp/B0BLHTLQ3S/ref=sr_1_5?linkCode=sl2&linkId=b69da2084813190fab9bb2260ba9a2d3&qid=1690585231&refinements=p_4%3ARocket+Monkey&s=apparel&sr=1-5" target="_blank">Buy</a>
    </div>
    </ion-col>
    </ion-row>
      </ion-col>

      <!-- Sixth shirt -->
      <ion-col size="6">
        <ion-img src="assets/Merchandise/sls bball T.jpg" style="height: 192.109px;"></ion-img>
        <div class="caption">Rocket Monkey Design Raglan Baseball Tee</div>
        <ion-row> <!-- Create a new row for the price label -->
          <ion-col>
            <div class="price-container">
        <ion-label class="price-label">$21.99</ion-label>
        </div>
        </ion-col>
        </ion-row>
        <ion-row> <!-- Create a new row for the price label -->
          <ion-col>
        <div class="buy-button-container">
        <a class="buy-button" href="https://www.amazon.com/Rocket-Monkey-Design-Raglan-Baseball/dp/B0BLF895SQ/ref=sr_1_6?linkCode=sl2&linkId=b69da2084813190fab9bb2260ba9a2d3&qid=1690585231&refinements=p_4%3ARocket+Monkey&s=apparel&sr=1-6" target="_blank">Buy</a>
     </div>
     </ion-col>
     </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

