<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-button slot="start" (click)="goToMapPage()"><ion-img class="map-logo" src="assets/icon/MAP.png" alt="Map Logo"></ion-img></ion-button>
    <ion-buttons slot="end" (click)="goToMerchPage()"><ion-img src="assets/icon/monkey.png" alt="Logo" class="logo-image"></ion-img></ion-buttons>
    <ion-title>
      Space Launch Schedule
    </ion-title>
  </ion-toolbar>
</ion-header>



  <!-- Hamburger Icon -->
  
   
  


<ion-content fullscreen class="custom-content">
  
  <ion-searchbar animated="true" placeholder="Search" class="search-bar" (click)="onSearchBarClick()"></ion-searchbar>
  <!-- Content of the home page -->
  <div class="contain">
  <ion-grid>
    <ion-row *ngFor="let rocket of rockets">
      <ion-col size="3">
        <ion-img class="rocket-image" src="path_to_rocket_image.png"></ion-img>
      </ion-col>
      <ion-col size="9">
        <div class="rocket-details">
          <div class="rocket-name">{{ rocket.name }}</div>
          <div class="rocket-info">Lab/Station: {{ rocket.labStation }}</div>
          <div class="rocket-info">Location: {{ rocket.location }}</div>
          <div class="rocket-info">Status: {{ rocket.status }}</div>
          <div class="rocket-info">Launch Date: {{ rocket.launchDate }}</div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
</ion-content>

